body{
	background-color: white ;
}
#table-nom{
	background-image:url('https://images.pexels.com/photos/270669/pexels-photo-270669.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}
#table1{
	background:  #aef064 ;
}
/*css navbar*/
#navbar{
	float: right;
margin-left: 740px;
margin-right: auto;
width: 100%;
margin-top: 20px;
height: 15px;
position: fixed;
font-size: 19px;
margin-right: 10px;

}
#navbar a {
	margin-left: 10px}
table{width: 100%}

.photo{
	margin-left: 215px;
margin-top: 118px;
border-radius: 143px;
}

#navbar nav a {
	text-decoration:underline overline;

}
a:hover {
  background-color: yellow;
}

#moi{								/* style de nom*/
	height: 200px;
	margin-top: 100px;

}
#nom{
	float: left;
	margin-top: 200px;
	margin-left: 139px;
	font-style: italic;
	font-family: initial;
	font-size: 20px;
	color:#E7256E ;
}
.titre{
	
	margin-top: 70px;
}
.card {														/*stye About me*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 45%;
height: 210px;
background-color: #F1DDD9;width: 305px;
height: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
height: 191px;

}
.card1 {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  height: 196px;
  background-color: #CFC8C7;
}


.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container1 {
  width: 305px;
height: 100%;
margin-left: 30px;

}


 .flex-container {
  display: flex;

      
}

 .flex-container3{
  display: flex;
flex-direction: column;
margin-left:200px;
      
}
.flex-container2{
	display: flex;
  height: 100px;
  align-items: center;
  align-content: space-between;
  margin-left:300px;
   flex-basis: 300px
}

.flex-container3{
	display: flex;
  height: 100px;
  align-items: center;
  margin-left:200px;
  flex-basis: 300px
  }


#compétence{

	margin:40px;
	padding: 35px;
	margin-left:  0px;
	margin-right: -1px;
	background-color: #CFC8C7;

}

#compétence1{
	margin-left: 150px;
}

#experience{

	margin:40px;
	padding: 35px;
	margin-left:  0px;
	margin-right: -1px;
	background-color: #CFC8C7;

}

#logo{
	width:100px;
	height: 100px;
	margin: 50px;
}
#phar1{
background-color: #C280F2 ;

}
#phar2{
background-color: #B596CB ;
margin-left: 300px;
}
#qualité {
	margin:40px;
	padding: 35px;
	margin-left:  0px;
	margin-right: -1px;
	background-color: #CFC8C7;
	
	
}


#langue{
	
	margin-left:50px;
	padding-bottom: 20%;
}
#langue-maitriser{

	margin:40px;
	padding: 35px;
	margin-left:  -48px;
	margin-right: -1px;
	background-color: #CFC8C7;
}
.arabe{
	
	margin-left:-220px;
	margin-right:50px;
}
.francais{

	margin-left: -220px;
	margin-right:50px;
}
.anglais{
	
	margin-left: -220px;
	margin-right:50px;
}
.regeur{
	margin-left: -50px;
	margin-right: 50px;
	background-color: #7ABEF0 ;
	width: 110px;

}
.autonomie{
	margin-left: 50px;
	margin-right: 50px;
	background-color: #7AF08E;
		width: 110px;
}
.capacité{
	background-color: #7ABEF0 ;
	margin-left: 50px;
	margin-right: 50px;
	width: 110px;
}
.travail{
	margin-left: 50px;
	margin-right: 50px;
	background-color: #7AF08E;
		width: 110px;
}

.part1{
	background:  #3fe6f1;
	
}
#contact{
	margin:40px;
	padding: 35px;
	margin-left:  500px;
	margin-right: -1px;
	background-color: #CFC8C7; 
}
.footer-port{
	margin-left: 50px;
	margin: 20px;
	padding: 20px;
	padding-left: 20px;
	padding-right: 50px;
}
